/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

@charset "utf-8";
/* CSS Document */
@import url(http://fonts.googleapis.com/css?family=Montserrat);

#disableClick{
    pointer-events: none;
}

.text-danger{
	color:red;
	font-family: Montserrat, sans-serif;
}
.alert-success{
font-size: larger;
    color: green;

}
.menu {
	width: 100%;
	background-color: #cd5c5c;
	font-family: Montserrat, sans-serif;
	color: #FF9933;
	padding-right: 10px;
}

.menu ul {
	margin: 0;
	padding: 0;
	float: right;
}

.menu ul li {
	display: inline;
	font-size: 16px;
	
}

.menu ul li a {
	float: left;
	text-decoration: none;
	color: white;
	/* padding: 10.5px 11px; */
	background-color: #cd5c5c;
}

.menu ul li a:visited {
	color: white;
}

.menu ul li a:hover, .menu ul li .current {
	color: #fff;
	/* background-color: #0b75b2; */
}

* {
	margin: 0;
	padding: 0;
}

.nav {
	background: #cd5c5c;
	height: 40px;
	display: inline-block;
	border-radius: 6px;
}

.nav li {
	float: left;
	list-style-type: none;
	position: relative;
}

.nav li a {
	font-size: 16px;
	/*color: white;*/
	display: block;
	line-height: 32px;
	text-decoration: none;
	/*border-left: 1px solid #2e2e2e;*/
	/*font-family: Montserrat, sans-serif;*/
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
	background-color: darkgray;
	font-weight: 600;
	text-align: right;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
/*.nav li a:hover {
    background-color: #2e2e2e;
}*/
.styled-select select {
	background: transparent;
	width: 150px;
	padding: 5px;
	font-size: 14px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 34px;
	-webkit-appearance: none;
}
.row {
	width: 960px;
		display: inline-block;
	/*border: 1px solid black;
	background-color: coral;*/
	margin-left: 20px;
	/*margin-right: 20px;*/
}

.container2{
	    width: 350px;
    padding-left: 150px;
}

.fs{
	padding-left: 15px;
}
.styled-select {
	width: 150px;
	height: 32px;
	overflow: hidden;
	background: url(resources/images/drop_down_arrow.png) no-repeat right
		#eeeeee;
	/*border: 1px solid #ccc;*/
	float: left;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#settings a {
	padding: 18px;
	height: 18px;
	font-size: 10px;
	line-height: 24px;
}

#search {
	width: 477px;
	/*margin: 4px;*/
	margin-left: 0px;
}

#search_text {
	width: 397px;
	/*padding: 15px 0 15px 20px;*/
	font-size: 16px;
	font-family: Montserrat, sans-serif;
	border: 0 none;
	height: 32px;
	margin-right: 0;
	color: #000000;
	outline: none;
	background: #ffffff;
	float: left;
	box-sizing: border-box;
	transition: all 0.15s;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: white;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: white;
}

#search_text:focus {
	background: rgb(255, 255, 255);
}

#search_button {
	border: 0 none;
	background: #FF9933 url(resources/images/search1.png) center no-repeat;
	width: 60px;
	float: left;
	padding: 0;
	text-align: center;
	height: 32px;
	cursor: pointer;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#options a {
	border-left: 0 none;
}

#options>a {
	background-image: url(triangle.png);
	background-position: 85% center;
	background-repeat: no-repeat;
	padding-right: 42px;
}

.subnav {
	visibility: hidden;
	position: absolute;
	top: 110%;
	right: 0;
	width: 200px;
	height: auto;
	opacity: 0;
	transition: all 0.1s;
	background: #232323;
}

.subnav li {
	float: none;
}

.subnav li a {
	border-bottom: 1px solid #2e2e2e;
}

#options:hover .subnav {
	visibility: visible;
	top: 100%;
	opacity: 1;
}

#separator{
	background-color: #cd5c5c;
	font-size: 16px;
	color: #fff;
	padding: 0px;
	border: none;
}
/*--------------------------------------------------------------------------------------------------*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td, img, span {
	margin: 0;
	padding: 0;
	/* border: none; */
}

ul {
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

body {
	padding-top: 50px;
	color: #6d6f71;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 21px;
	overflow-x: hidden;
}

.clear {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}
/*label{cursor:auto;}
im2{ margin-bottom:10px;}*/
img.drop5 {
	opacity: 0.6;
	-moz-transition: all 300ms ease-in-out 0s;
}

img.drop5:hover {
	opacity: 1;
}

img.drop5 {
	margin-top: 5px;
}

#share {
	margin-top: 20px;
}

#share ul li {
	/*margin-left: 5px;*/
	
}

a {
	text-decoration: none;
}

a:active, object:active {
	outline: none;
}

h2.sidebox {
	font-size: 18px;
}

h4.subhead {
	font-size: 18px;
	height: 7px;
	text-transform: uppercase;
}

h4.title_orange {
	font-size: 22px !important;
}

h3 a.title_link {
	color: #004358;
}

a.title_link:hover, a.title_link:active {
	text-decoration: underline;
}

h1 {
	font-size: 16px;
}

h2 {
	font-size: 15px;
}

h3 {
	font-size: 14px;
	font-weight: bold;
}

*.blue {
	color: #004358;
}

.orange {
	color: #fd7400;
}

a.block_big {
	width: 245px;
	height: 160px;
	display: block;
	padding: 5px 10px;
	position: relative;
}

.block {
	display: block;
	color: #FD7400;
	font-family: Lucida Sans;
	font-size: 9pt
}

#wraper {
	width: 100%;
	padding-bottom: 50px;
}

#header {
	width: 100%;
	min-height: 115px;
	background-color: #b2ff4f;
	margin-bottom: 20px;
}

#header_container {
	width: 960px;
	margin: 0 auto;
	position: relative;
	padding: 10px;
}

#header_container span.lata {
	position: absolute;
	width: 117px;
	height: 36px;
	top: -43px;
	right: 0
}

#header_container span.logo {
	display: block;
	width: 280px;
	height: 76px;
}

#header_container span.skype {
	display: block;
	width: 176px;
	height: 28px;
	float: right;
	margin: 20px 0 5px 0;
}

#header_container ul.sub_menu {
	float: right;
	margin-top: 5px;
}

#header_container ul.sub_menu li {
	float: left;
	margin-right: 9px;
	height: 16px;
	background: url("../images/side.png") no-repeat scroll right 5px
		transparent;
}

#header_container ul.sub_menu li.side {
	background: transparent;
	margin-right: -9px;
}

#header_container ul.sub_menu li a {
	display: block;
	width: 100%;
	height: 100%;
}

#header_container ul.sub_menu li a small {
	color: #fff;
	font-family: 'QlassikBoldRegular', Sans-Serif;
	font-size: 11pt;
	padding-right: 9px;
}

#header_container ul.sub_menu li a small:hover {
	color: #dec518;
}

#header_container ul.main_menu li {
	float: left;
	margin-right: 9px;
	height: 16px;
	background: url("../images/side5.png") no-repeat scroll right 0px
		transparent;
}

#header_container ul.main_menu li:hover {
	color: #fff;
}

#header_container ul.main_menu li a {
	display: block;
	width: 100%;
	height: 100%;
}

#header_container ul.main_menu {
	width: 980px;
	height: 18px;
	margin-top: 15px;
}

#header_container ul.main_menu li.side {
	background: transparent;
	margin-right: -9px;
}

#header_container ul.main_menu li a small {
	color: #fff;
	font-family: 'QlassikBoldRegular', Sans-Serif;
	font-size: 14pt;
	padding-right: 20px;
	padding-left: 10px;
	text-transform: uppercase;
}

#header_container ul.main_menu li a small:hover {
	color: #ed1c24;
}

#main {
	width: 980px;
	/* min-height: 800px; */
	/*    padding-top:20px; */
	margin: 0 auto;
	/*border: 1px solid red;
	background-color: skyblue;*/
}

#main h1 {
	background: #FF9933;
	color: #5F5F5F;
	font-family: 'QlassikBoldRegular', Sans-Serif;
	font-size: 14pt;
	padding-left: 5px;
	height: 25px;
	padding-top: 5px;
}

#products {
	width: 960px;
		display: inline-block;
	/*border: 1px solid black;
	background-color: coral;*/
	margin-left: 20px;
	/*margin-right: 20px;*/
}

.products {
	margin: 0;
	padding: 0;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
	
}

#product1 {
	list-style-type: none;
	vertical-align: top;
	overflow: hidden;
	zoom: 1.0;
	position: relative;
	margin: 0 12px 12px 0;
	border: 1px solid #cfcece;
	padding: 15px;
	
	float: left;
	width: 220px;
}

#product {
	list-style-type: none;
	vertical-align: top;
	overflow: hidden;
	zoom: 1.0;
	position: relative;
	margin: 0 12px 12px 0;
	border: 1px solid #cfcece;
	padding: 15px;
	
	
	
}


li.innerproduct * {
	box-sizing: border-box;
}

.titleOptions {
	min-height: 246px;
	/*height:212px;*/
}

.productinfo {
	width: 180px;
}

.productdescription {
	/*margin-top: 6px;*/
	/*margin: 24px 0 8px 0;*/
	height: 40px;
	overflow: hidden;
}

.large {
	font-size: 15px;
	line-height: 21px;
}

.bold {
	font-weight: normal;
	color: #004358;
}

.bold a:visited {
	text-decoration-color: burlywood;
}

.red {
	color: #900;
	font-weight: bold;
}

#left_column {
	margin-left: 20px;
	width: 920px;
	min-height: 200px;
	background-color: #cacaca;
	border: 1px solid green;
}

#latest_packages {
	width: 930px;
	padding: 15px;
	padding-bottom: 5px;
	border: 1px solid #fff;
	min-height: 100px;
	/*background:#cacaca url(../images/news_bg.png)scroll repeat-x;*/
}

#latest_packages p a, #attractions_list p a, #events_list p a {
	color: #004358;
}

#latest_packages p a:hover, #latest_packages p a:active {
	color: #ed1c24;
	text-decoration: underline;
}

#latest_packages  a.yes {
	background-color: #ed1c24;
	bottom: 15px;
	color: #FFFFFF;
	font-size: 12px;
	height: 24px;
	padding: 7px 25px;
	font-weight: bold;
	border: 1px solid #FFFFFF;
	right: 10px;
	width: 59px;
	border-radius: 0px 5px 5px 0px;
	margin-left: -16px;
}

#latest_packages  a:hover.yes {
	background-color: #fff;
	color: #ed1c24;
}

#latest_packages ul.packages, #attractions_list ul, #events_list ul {
	margin-top: 5px;
	padding: 10px 0;
	border-bottom: 1px solid #fff;
	width: 860px;
}

#latest_packages ul.packages {
	border-bottom: none;
}

.border_bottom {
	display: block;
}

#latest_packages ul.packages li {
	float: left;
	margin: 0 13px 13px 0;
}

#latest_packages ul.packages li div.package_image, #attractions_list ul li div.package_image
	{
	width: 260px;
	height: 135px;
}

#latest_packages ul.packages li div.package_text {
	background-color: #fff;
	width: 260px;
	min-height: 68px;
	color: #000;
}

div.package_text a p {
	color: #000;
}

div.package_text a:hover p {
	color: #fff;
}

#latest_packages ul.packages li div.package_text:hover,
	#attractions_list ul li div.attraction_text a:hover {
	background-color: #000;
	color: #fff;
	text-decoration: none;
}

#latest_packages ul.packages li div.package_text:hover .paragraph,
	#latest_packages ul.packages li div.package_text:hover .title,
	#latest_packages ul.packages li div.package_text:hover h3 {
	color: #fff !important;
	text-decoration: none !important;
}

#latest_packages ul.packages li div.package_text:hover span.package_price
	{
	color: #fff;
}

#latest_packages ul.packages li div.package_text span.orange,
	#latest_packages ul.packages li div.package_text span.stars {
	display: block;
	margin-top: -5px;
	clear: both;
	width: 170px
}

#latest_packages ul.packages li div.package_text span.stars {
	height: 23px;
	margin-top: 5px;
	margin-bottom: 0;
}

#latest_packages ul.packages li div.package_text span.package_price {
	position: absolute;
	right: 20px;
	bottom: 25px;
}

#latest_packages ul.packages li div.package_text span.package_price h3 {
	margin-top: -7px;
}

#latest_packages ul.packages li div.package_text span.package_type {
	float: left;
	color: #1f8a70;
	display: block;
	height: 20px;
	width: 250px;
	position: absolute;
	bottom: 5px;
}

#latest_packages ul.packages li div.package_text span.hotel_location {
	color: #1f8a70;
	position: absolute;
	bottom: 5px;
}

#latest_packages span.more_packages {
	display: block;
	float: right;
	margin-top: 7px;
}

#latest_packages span.more_packages a {
	color: #fff;
}

#latest_packages span.more_packages a:hover, #latest_packages span.more_packages a:active
	{
	text-decoration: underline;
}

#footer {
	width: 960px;
	min-height: 50px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	/* border: 1px solid red;*/
}

#footer_details_menu {
	width: 950px;
	border-top: 1px solid #232f3e;
	border-bottom: 1px solid #232f3e;
	padding: 10px;
}

#footer_details_menu ul {
	float: left;
	min-height: 145px;
}

#footer_details_menu ul.footer_menu {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 2px solid #232f3e;
}

#footer_details_menu ul a {
	color: #6d6f71;
}

#footer_details_menu ul.footer_menu a:hover, #footer_details_menu ul.footer_menu a:active
	{
	text-decoration: underline;
	color: #ed1c24;
}

#footer span.developed_gat {
	float: left;
	margin-top: 5px;
	margin-left: -16px
}

#footer span.copyright {
	float: right;
	margin-top: 10px;
	margin-right: 55px;
}

